/* calendar */
#calendar {
    max-width: auto;
    max-height: 700px;
    margin:0 auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  /* calendar toolbar  */
  .fc {
  border-radius: 15px; 
  overflow: hidden; 
  }
  
  .fc .fc-header-toolbar {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  }
  
  
  .fc .fc-toolbar-title {
  font-size: 30px;
  font-weight: normal; 
  color:#6C4E37
  }
  
  /* calendar toolbar button */
  .fc .fc-button-primary {
  background-color: #6C4E37; 
  color: white;
  }
  
  .fc .fc-button:hover {
  background-color: #6C4E37; 
  }
  
  .fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #6C4E37 !important; /* when the button is clicked on (active) */
  color: white !important;
  }
  
  .fc .fc-button-today {
  color: #6C4E37; 
  background-color: white;
  }
  
  .fc .fc-today-button:disabled {
  background-color: #6C4E37; 
  }
  
  .fc .fc-day-today {
  background-color: #E2FEF1; /* today's date cell */
  }
  
  /* weekday header labels */
  .fc .fc-col-header-cell-cushion { 
    font-weight: lighter;
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
    color: white;
  }
  .fc .fc-col-header-cell {
    background-color: #6C4E37;
    border: 1px solid #6C4E37;
  }

  /* change event titles to black and remove underline */
  .fc .fc-event-title, .fc .fc-event-title-container {
    color: white;
    text-decoration: none;
  }
  /* change day and time to black and remove underline */
  .fc .fc-daygrid-day-number, .fc .fc-daygrid-event, .fc .fc-timegrid-event {
    color: black;
    text-decoration: none;
  }
  
  /* grid icon color */
  .fc .fc-daygrid-event-dot {
  border-color: #6C4E37 !important; /* This sets the color of the dot */
  }
  
  .fc-event {
    background-color: #6C4E37;
    border: 1px solid black !important;
    color: white;
  }

  .fc-event.past-confirmed {
    background-color: #DFB372 !important;
    border: 1px solid black !important;
    color: black !important; /* Ensure text is readable on a yellow background */
  }

  .fc-event.pending {
    background-color: #DFB372 !important;
    border: 1px solid black !important;
    color: black !important;
  }
  .fc-event.blocked {
    background-color: red !important;
    border: 1px solid black !important;
    color: black !important;
  }
  
  /* table */
  .table {
  width: 100%; 
  table-layout: fixed; 
  }
  
  .table th, .table td {
  text-align: center; 
  vertical-align: middle; 
  }
  
  .table-hover thead th {
  text-align: center; 
  color: white; 
  background-color: #6C4E37;
  font-size: medium; 
  }
  
  .rounded-shadow {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 15px;
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .form-label {
  color:#6C4E37
  }
  
  .button-container {
  display: flex;
  justify-content: flex-end;
  }
  
  .btn-spacing {
  margin-right: 15px;
  }
  
  .action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .icon-color {
  color: #6C4E37;
  }
  
  .action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  }
  
  /* End - table */
  
  /* page selection*/
  .pagination .page-item.active .page-link {
  background-color: #6C4E37;
  border-color: #6C4E37;
  color: white;
  }
  
  .page-link {
  color: black; 
  }
  
  .page-link:hover {
  color: black !important;
  }
  
  /* End - page selection */
  
  .form-select:focus {
  border-color: #6C4E37; 
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25); 
  }
  
  .form-control:focus {
    border-color: #6C4E37; 
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25); 
    }
  

  